{% load static %}

<!-- \\ Begin Contact Section \\ -->
<div class="Contact_sec" id="Contact">

    <!-- \\ Begin Contact Side \\ -->
    <div class="Contactside">

        <div class="Center">

            <div class="Form">

                <h3>contact <span>us</span></h3>

                <form method="post" action="#">
                    <fieldset>

                        <p><input name="name" type="text" class="field" id="name" maxlength="50" placeholder="NAME"></p>

                        <p><input name="email" type="email" class="field1" id="email" placeholder="EMAIL"></p>

                        <p><textarea name="message" id="message" placeholder="MESSAGE"></textarea> </p>

                        <p><input name="submit" type="submit" class="Button" id="submit" value="send"></p>

                    </fieldset>
                </form>

            </div>
        </div>

        <!-- \\ Begin map Section \\ -->
        <div class="map_sec">

            <div class="center">

                <div id="GoogleMap"></div>

            </div>

        </div>
        <!-- // End map Section // -->


    </div>
    <!-- // End Contact Side // -->

</div>
<!-- // End Contact Section // -->