{% load static %}

<ul>
    <li>
        <div class="Industrial">

            <figure><img src="{% static 'templatemo_471_zigzag/img/Industrial-img.png' %}" alt="Image"></figure>

        </div>

        <div class="Information">

            <h4>sollication <span>quis bibendum actor</span></h4>

            <p>Credit goes to <a rel="nofollow" href="http://www.smashingmagazine.com/2012/11/art-professions-icons-png/" target="_blank">Art Professions Icon Set</a> from Smashing Magazine. Sed non mauris vitae erat doam</p>

            <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-rss"></i></a></li>
            </ul>

        </div>
    </li>
    <li>
        <div class="Industrial">

            <figure><img src="{% static 'templatemo_471_zigzag/img/Industrial-img1.png' %}" alt="Image"></figure>

        </div>

        <div class="Information">

            <h4>Morbi accum<span>sednon mauris vieta</span></h4>

            <p>You can change the Google Maps location in core.js file by setting latitude and longitude values.</p>

            <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-rss"></i></a></li>
            </ul>

        </div>
    </li>
</ul>