{% load static %}

<!-- \\ Begin Product Section \\ -->
<div class="Product_sec">

    <ul>
        <li>
            <div class="right">

                <div class="img">

                    <figure><img src="{% static 'templatemo_471_zigzag/img/camera-img.png' %}" alt="Image"></figure>

                </div>

                <div class="Details">

                    <h3>Morbi accumsan AMET <span>ipsum dlolr ERA</span> </h3>

                    <p>The logo font is Britannic Bold and Adobe Fireworks PNG source file (img/logo_fireworks_source.png) is included. If you have any question about ZigZag template, feel free to <a rel="nofollow" href="http://www.templatemo.com/contact"
                            target="_parent">contact us</a>.</p>

                    <a href="#" class="button">Learn more</a>

                </div>

            </div>
        </li>

        <li>
            <div class="left">

                <div class="img">

                    <figure><img src="{% static 'templatemo_471_zigzag/img/letter-img.png' %}" alt="Image"></figure>

                </div>

                <div class="Details">

                    <h3>aenean sollication<span>lorem  quis bibendum actor</span> </h3>

                    <p>ZigZag is free HTML5 responsive template from <a rel="nofollow" href="http://www.templatemo.com" target="_parent">Templatemo</a> website. You can download, edit, and use this layout for any kind of your website. No credit link is required.</p>

                    <a href="#" class="button">Learn more</a>

                </div>

            </div>
        </li>
    </ul>

</div>
<!-- // End Product Section // -->