{% load static %}

<!-- \\ Begin Top Bar \\ -->
<div class="Top_Bar">

    <div class="site-logo">

        <a href="#">
            <figure><img src="{% static 'templatemo_471_zigzag/img/logo.png' %}" alt="Image"></figure>
        </a>

    </div>

    <!-- \\ Begin Navigation \\ -->
    <nav class="Navigation">

        <ul>
            <li class="active"><a href="#"><span>home</span></a></li>
            <li class="gap"><a href="#About"><span>about</span></a></li>
            <li class="gap gap1"><a href="#Contact"><span>contact</span></a></li>
        </ul>

        <figure><img src="{% static 'templatemo_471_zigzag/img/triangle-img.png' %}" alt="Image" class="triangle"></figure>

    </nav>
    <!-- // End Navigation // -->

    <div class="clear"></div>
</div>
<!-- // End Top Bar // -->